h2.entity__header.panel-heading.panel-heading_border(ng-if='!reviews.length') Упс! Отзывов нет:(
.reviews(ng-else)
  h2.entity__header.panel-heading.panel-heading_border Отзывы ({{reviews.length}})
  ul.reviews-list
    li.reviews-list__item(ng-repeat='review in reviews')
      header.reviews-list__header
        a.reviews-list__link(href='#')
          img.reviews-list__img(ng-src='{{review.creator.picture}}')
        .reviews-list__info
          p.reviews-list__info-name {{review.creator.displayName}}
          p.reviews-list__info-date {{review.createdAt | date : 'dd/MM/yyyy HH:mm:ss'}}
      p.reviews-list__headline {{review.headline}}
      p.reviews-list__descr {{review.description}}
h2.entity__header.panel-heading.panel-heading_border Новый отзыв
form.reviews-form(ng-submit='action()' name='addReviewForm')
  .form-group
    label Заголовок
    input.form-control(type='text' ng-model='review.headline' placeholder='Заголовок' required)
  .form-group
    label Комментарий
    textarea.form-control(ng-model='review.description' placeholder='Комментарий' required)
  button.btn.btn-primary(type='submit' ng-disabled='addReviewForm.$invalid') Добавить отзыв
