<p ng-if="vm.noCinemas">Ooops! There are no cinemas:(</p>
<div ng-if="vm.cinemas.length" class="admin-grid-wr">
  <ul class="admin-grid">
    <li class="admin-grid__item" pagination-id="cinemasPagination" dir-paginate="cinema in vm.cinemas | itemsPerPage: 10" total-items="vm.totalCinemas" current-page="vm.currentPage">
      <img class="admin-grid__img" ng-src="{{cinema.poster}}">
      <div class="admin-grid__overlay">
        <div class="admin-grid__buttons">
          <a class="btn btn-default" ui-sref="admin.cinemaedit({cinemaId: cinema._id})">Edit</a>
          <button ng-click="vm.deleteCinema(cinema._id, $index)" class="btn btn-danger"><i class="ion-close"></i></button>
        </div>
      </div>
    </li>
  </ul>
  <dir-pagination-controls class="pagination-wr" boundary-links="true" on-page-change="vm.changePage(newPageNumber)" pagination-id="cinemasPagination"></dir-pagination-controls>
</div>
<a class="btn btn-primary" ui-sref="admin.cinemasnew">Add a cinema</a>
