<p ng-if="vm.noCinemas">Ooops! There are no cinemas:(</p>
<ul class="admin-grid">
  <li class="admin-grid__item" ng-repeat="cinema in vm.cinemas">
    <img class="admin-grid__img" ng-src="{{cinema.poster}}">
    <div class="admin-grid__overlay">
      <div class="admin-grid__buttons">
        <a class="btn btn-default" ui-sref="admin.cinemaedit({cinemaId: cinema._id})">Edit</a>
        <button ng-click="vm.deleteCinema(cinema._id, $index)" class="btn btn-danger"><i class="ion-close"></i></button>
      </div>
    </div>
  </li>
</ul>
<a class="btn btn-primary" ui-sref="admin.cinemasnew">Add a cinema</a>
