<form ng-submit="vm.addPerson()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" ng-model="vm.person.name">
  </div>
  <div class="form-group">
    <label>Career</label>
    <input type="text" class="form-control" ng-model="vm.person.career">
  </div>
  <div class="form-group">
    <label>Photo</label>
    <input type="text" class="form-control" ng-model="vm.person.photo">
  </div>
  <div class="form-group">
    <label>Birthdate</label>
    <input type="text" class="form-control" ng-model="vm.person.birthdate">
  </div>
  <div class="form-group">
    <label>Birthplace</label>
    <input type="text" class="form-control" ng-model="vm.person.birthPlace">
  </div>
  <button class="btn btn-default" type="submit">Submit</button>
</form>
