<form ng-submit="vm.action()">
  <p ng-if="vm.hall.createdAt">Дата создания: {{vm.hall.createdAt | date : 'dd/MM/yyyy HH:mm:ss'}}</p>
  <p ng-if="vm.hall.updatedAt">Дата последнего обновления: {{vm.hall.updatedAt | date : 'dd/MM/yyyy HH:mm:ss'}}</p>
  <div class="form-group">
    <label>Название</label>
    <input type="text" class="form-control" placeholder="Название" ng-model="vm.hall.name">
  </div>
  <div class="form-group">
    <label>Кинотеатр</label>
    <ui-select ng-model="vm.hall.cinema" theme="bootstrap" ng-disabled="disabled" reset-search-input="false">
      <ui-select-match placeholder="Добавить кинотеатр">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="cinema in vm.cinemas track by $index" refresh="vm.loadCinemas($select.search)" refresh-delay="0">
        <div ng-bind-html="cinema.name"></div>
      </ui-select-choices>
    </ui-select>
  </div>
  <button class="btn btn-default" type="submit"><i class="ion-checkmark"></i>Сохранить</button>
</form>
