<form ng-submit="vm.editMovie()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" ng-model="vm.movie.name">
  </div>
  <div class="form-group">
    <label>Poster</label>
    <img class="photo" ng-if="!vm.file.length" ng-src="{{vm.movie.poster}}">
    <img class="photo" ng-if="vm.file.length" ngf-src="vm.file[0]">
    <span type="text" class="btn btn-primary" ng-model="vm.file" ngf-select>upload poster</span>
  </div>
  <div class="form-group">
    <label>Country</label>
    <input type="text" class="form-control" ng-model="vm.movie.country">
  </div>
  <div class="form-group">
    <label>Genre</label>
    <tags-input ng-model="vm.movie.genre" placeholder="Add a movie"></tags-input>
  </div>
  <div class="form-group">
    <label>Actors</label>
    <tags-input replace-spaces-with-dashes="false" display-property="name" ng-model="vm.movie.actors" placeholder="Add an actor">
      <auto-complete source="vm.loadActors($query)"></auto-complete>
    </tags-input>
  </div>
  <div class="form-group">
    <label>Duration</label>
    <input type="text" class="form-control" ng-model="vm.movie.duration">
  </div>
  <div class="form-group">
    <label>AgeRating</label>
    <input type="text" class="form-control" ng-model="vm.movie.ageRating">
  </div>
  <div class="form-group">
    <label>ReleaseDate</label>
    <input type="text" class="form-control" ng-model="vm.movie.releaseDate" bs-datepicker date-format="longDate">
  </div>
  <div class="form-group">
    <label>Status</label>
    <div class="btn-group" ng-model="vm.movie.status" bs-radio-group>
      <label class="btn btn-danger"><input type="radio"  value="0"> Disabled</label>
      <label class="btn btn-primary"><input type="radio" value="1"> Now</label>
      <label class="btn btn-primary"><input type="radio" value="2"> Soon</label>
    </div>
  </div>
  <div class="form-group">
    <label>Synopsis</label>
    <textarea class="form-control" ng-model="vm.movie.synopsis"></textarea>
  </div>
  <button class="btn btn-default" type="submit"><i class="ion-checkmark"></i>Submit</button>
</form>
