.container
  .entity-wr.panel.panel-default
    header.entity__header.panel-heading {{vm.movie.name}}
    .entity
      img.entity__poster(ng-src='{{vm.movie.poster}}')
      .entity-info
        ul.entity-info-list
          li.entity-info-list__item
            .entity-info-list__label  Жанр
            .entity-info-list__value
              span.entity-info-list__tag(ng-repeat='genre in vm.movie.genre') {{genre.text}}
          li.entity-info-list__item(ng-if='vm.movie.directors.length')
            .entity-info-list__label Режиссеры
            .entity-info-list__value
              a.entity-info-list__tag(ng-repeat='director in vm.movie.directors', ui-sref='person({personId: director._id})') {{director.name}}
          li.entity-info-list__item(ng-if='vm.movie.actors.length')
            .entity-info-list__label Актеры
            .entity-info-list__value
              a.entity-info-list__tag(ng-repeat='actor in vm.movie.actors', ui-sref='person({personId: actor._id})') {{actor.name}}
          li.entity-info-list__item
            .entity-info-list__label Длительность
            .entity-info-list__value
              i.ion-clock
              | &nbsp;{{vm.movie.duration}} минут
          li.entity-info-list__item
            .entity-info-list__label Возраст
            .entity-info-list__value {{vm.movie.ageRating}}+
          li.entity-info-list__item
            .entity-info-list__label Премьера
            .entity-info-list__value {{vm.movie.releaseDate | date: 'd MMMM yyyy'}}
    h2.entity__header.panel-heading.panel-heading_border Описание
    p {{vm.movie.synopsis}}
    h2.entity__header.panel-heading.panel-heading_border(ng-if='vm.noSessions') Упс! Сеансов нет:(
    .cinema-sessions(ng-else)
      h2.entity__header.panel-heading.panel-heading_border Сеансы
      table.table.cinema-sessions-table
        thead
          tr.cinema-sessions-table__tr
            th.cinema-sessions-table__th(colspan='2') Название кинотеатра
            th.cinema-sessions-table__th Зал
            th.cinema-sessions-table__th Время
        tr.cinema-sessions-table__tr(ng-repeat='session in vm.sessions')
          td.cinema-sessions-table__td
            a(ui-sref='cinema({cinemaId: session.cinema._id})')
              img.cinema-sessions-table__img(ng-src='{{session.cinema.poster}}')
          td.cinema-sessions-table__td
            p {{session.cinema.name}}
            p {{session.cinema.address}}
          td.cinema-sessions-table__td {{session.hall.name}}
          td.cinema-sessions-table__td: a.btn.btn-primary(ui-sref='session({sessionId: session._id})') {{session.date | date : 'HH:mm'}}
    h2.entity__header.panel-heading.panel-heading_border(ng-if='!vm.reviews.length') Упс! Отзывов нет:(
    .reviews(ng-else)
      h2.entity__header.panel-heading.panel-heading_border Отзывы ({{vm.totalReviews}})
      ul.reviews-list
        li.reviews-list__item(dir-paginate='review in vm.reviews | itemsPerPage: vm.pageSize' total-items='vm.totalReviews' current-page='vm.currentPage')
          header.reviews-list__header
            a.reviews-list__link(href='#')
              img.reviews-list__img(ng-src='{{review.creator.picture}}')
            .reviews-list__info
              p.reviews-list__info-name {{review.creator.displayName}}
              p.reviews-list__info-date {{review.createdAt | date : 'dd/MM/yyyy HH:mm:ss'}}
          rating(ng-model='review.rating' class='rating' readonly='true')
          p.reviews-list__headline {{review.headline}}
          p.reviews-list__descr {{review.description}}
      dir-pagination-controls.pagination-wr(boundary-links='true' on-page-change='vm.changePage(newPageNumber)')
    h2.entity__header.panel-heading.panel-heading_border Новый отзыв
    form.reviews-form(ng-submit='vm.addReview()' name='addReviewForm')
      .form-group
        label Заголовок
        input.form-control(type='text' ng-model='vm.review.headline' placeholder='Заголовок' required)
      .form-group
        label Комментарий
        textarea.form-control(ng-model='vm.review.description' placeholder='Комментарий' required)
      .form-group
        label Рейтинг
        rating(ng-model='vm.review.rating' class='rating' required)
      button.btn.btn-primary(type='submit' ng-disabled='addReviewForm.$invalid') Добавить отзыв
