<div class="container">
  <h1>{{vm.movie.name}}</h1>
  <img ng-src="{{vm.movie.poster}}" alt="">
  <ul class="nav nav-pills">
    <li ng-repeat="genre in vm.movie.genre">{{genre.text}}</li>
  </ul>
  <div ng-if="vm.movie.directors.length">
    <h3>Режиссеры</h3>
    <ul class="nav nav-pills">
      <li ng-repeat="director in vm.movie.directors">
        <a ui-sref="person({personId: director._id})">{{director.name}}</a>
      </li>
    </ul>
  </div>
  <div ng-if="vm.movie.actors.length">
    <h3>Актеры</h3>
    <ul class="nav nav-pills">
      <li ng-repeat="actor in vm.movie.actors">
        <a ui-sref="person({personId: actor._id})">{{actor.name}}</a>
      </li>
    </ul>
  </div>
  <div><i class="ion-clock"></i> {{vm.movie.duration}} min</div>
  <div>Rating {{vm.movie.ageRating}}+</div>
  <div>C {{vm.movie.releaseDate | date: 'd MMMM yyyy'}}</div>
  <p>{{vm.movie.synopsis}}</p>
  <h2 ng-if="vm.noSessions">Упс! Сеансов нет:((</h2>
  <div ng-else class="cinema-sessions">
    <h1>Сеансы</h1>
    <table class="table cinema-sessions-table">
      <thead>
        <tr class="cinema-sessions-table__tr">
          <th class="cinema-sessions-table__th" colspan="2">
            Название кинотеатра
          </th>
          <th class="cinema-sessions-table__th">
            Зал
          </th>
          <th class="cinema-sessions-table__th">
            Время
          </th>
        </tr>
      </thead>
      <tr class="cinema-sessions-table__tr" ng-repeat="session in vm.sessions">
        <td class="cinema-sessions-table__td">
          <a ui-sref="cinema({cinemaId: session.hall.cinema._id})">
            <img class="cinema-sessions-table__img" ng-src="{{session.hall.cinema.poster}}" alt="">
          </a>
        </td>
        <td class="cinema-sessions-table__td">
          <p>{{session.hall.cinema.name}}</p>
          <p>{{session.hall.cinema.address}}</p>
        </td>
        <td class="cinema-sessions-table__td">
          {{session.hall.name}}
        </td>
        <td class="cinema-sessions-table__td">
          {{session.date | date : 'dd/MM/yyyy HH:mm:ss'}}
        </td>
      </tr>
    </table>
  </div>
</div>
