.container
  .panel.panel-default
    .panel-heading Профиль
    .panel-body
      legend
        i.ion-clipboard
        |  Редактировать профиль
      form(method='post', ng-submit='vm.updateProfile()')
        .form-group
          label.control-label Аватарка
          img.profile-picture(ng-src="{{vm.user.picture || 'http://placehold.it/100x100'}}")
        .form-group
          label.control-label
            i.ion-person
            |  Имя
          input.form-control(type='text', ng-model='vm.user.displayName')
        .form-group(ng-if='vm.user.email')
          label.control-label
            i.ion-at
            |  E-mail
          input.form-control(type='email', ng-model='vm.user.email')
        button.btn.btn-lg.btn-success Обновить информацию
  .panel.panel-default
    .panel-heading Аккаунты
    .panel-body
      legend
        i.ion-link
        |  Привязанные аккаунты
      .btn-group-vertical
        button.btn.btn-sm.btn-danger(ng-if='vm.user.facebook', ng-click="vm.unlink('facebook')")
          i.ion-social-facebook
          |  Facebook
        button.btn.btn-sm.btn-primary(ng-if='!vm.user.facebook', ng-click="vm.link('facebook')")
          i.ion-social-facebook
          |  Facebook
        button.btn.btn-sm.btn-danger(ng-if='vm.user.google', ng-click="vm.unlink('google')")
          i.ion-social-googleplus
          |  Google
        button.btn.btn-sm.btn-primary(ng-if='!vm.user.google', ng-click="vm.link('google')")
          i.ion-social-googleplus
          |  Google
        button.btn.btn-sm.btn-danger(ng-if='vm.user.twitter', ng-click="vm.unlink('twitter')")
          i.ion-social-twitter
          |  Twitter
        button.btn.btn-sm.btn-primary(ng-if='!vm.user.twitter', ng-click="vm.link('twitter')")
          i.ion-social-twitter
          |  Twitter
        button.btn.btn-sm.btn-danger(ng-if='vm.user.github', ng-click="vm.unlink('github')")
          i.ion-social-github
          |  GitHub
        button.btn.btn-sm.btn-primary(ng-if='!vm.user.github', ng-click="vm.link('github')")
          i.ion-social-github
          |  GitHub
