<form ng-submit="vm.action()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" ng-model="vm.cinema.name">
  </div>
  <div class="form-group">
    <img class="photo" ng-if="!vm.file.length && vm.cinema.poster" ng-src="{{vm.cinema.poster}}">
    <img class="photo" ng-if="vm.file.length" ngf-src="vm.file[0]">
    <span type="text" class="btn btn-primary" ng-model="vm.file" ngf-select>upload poster</span>
  </div>
  <div class="form-group">
    <label>Address</label>
    <input type="text" class="form-control" ng-model="vm.cinema.address">
  </div>
  <div class="form-group">
    <label>Telephone</label>
    <input type="text" class="form-control" ng-model="vm.cinema.telephone">
  </div>
  <div class="form-group">
    <label>Website</label>
    <input type="text" class="form-control" ng-model="vm.cinema.website">
  </div>
  <div class="form-group">
    <label>3D support</label>
    <input type="checkbox" ng-model="vm.cinema.support3D">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" ng-model="vm.cinema.description"></textarea>
  </div>
  <button class="btn btn-default" type="submit"><i class="ion-checkmark"></i>Submit</button>
</form>
