<div class="container">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 class="text-center">Sign up</h2>
        <form method="post" ng-submit="vm.signup()" name="signupForm">
          <div ng-class="{ 'has-error' : signupForm.displayName.$invalid && signupForm.displayName.$dirty }" class="form-group has-feedback">
            <input type="text" name="displayName" ng-model="vm.displayName" placeholder="Name" required="required" autofocus="autofocus" class="form-control input-lg"/><span class="ion-person form-control-feedback"></span>
            <div ng-if="signupForm.displayName.$dirty" ng-messages="signupForm.displayName.$error" class="help-block text-danger">
              <div ng-message="required">You must enter your name.</div>
            </div>
          </div>
          <div ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }" class="form-group has-feedback">
            <input id="email" type="email" name="email" ng-model="vm.email" placeholder="Email" required="required" ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+.[a-z.]{2,5}$/" class="form-control input-lg"/><span class="ion-at form-control-feedback"></span>
            <div ng-if="signupForm.email.$dirty" ng-messages="signupForm.email.$error" class="help-block text-danger">
              <div ng-message="required">Your email address is required.</div>
              <div ng-message="pattern">Your email address is invalid.</div>
            </div>
          </div>
          <div ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }" class="form-group has-feedback">
            <input type="password" name="password" ng-model="vm.password" placeholder="Password" required="required" class="form-control input-lg"/><span class="ion-key form-control-feedback"></span>
            <div ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error" class="help-block text-danger">
              <div ng-message="required">Password is required.</div>
            </div>
          </div>
          <div ng-class="{ 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }" class="form-group has-feedback">
            <input password-match="vm.password" type="password" name="confirmPassword" ng-model="vm.confirmPassword" placeholder="Confirm Password" class="form-control input-lg"/><span class="ion-key form-control-feedback"></span>
            <div ng-if="signupForm.confirmPassword.$dirty" ng-messages="signupForm.confirmPassword.$error" class="help-block text-danger">
              <div ng-message="compareTo">Password must match.</div>
            </div>
          </div>
          <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-primary">Sign up</button><br/>
          <p class="text-center text-muted">Already have an account?&nbsp;<a ui-sref="login">Log in now</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
