.container
  .entity-wr.panel.panel-default
    header.entity__header.panel-heading {{vm.cinema.name}}
    .entity
      img.entity__poster(ng-src='{{vm.cinema.poster}}')
      .entity-info
        ul.entity-info-list
          li.entity-info-list__item
            .entity-info-list__label Адрес
            .entity-info-list__value {{vm.cinema.address}}
          li.entity-info-list__item
            .entity-info-list__label Сайт
            .entity-info-list__value
              a.entity-info-list__tag(href='{{vm.cinema.website}}', target='_blank') {{vm.cinema.website}}
          li.entity-info-list__item
            .entity-info-list__label Телефон
            .entity-info-list__value
              a.entity-info-list__tag(href='tel:{{vm.cinema.telephone}}') {{vm.cinema.telephone}}
          li.entity-info-list__item
            .entity-info-list__label Поддержка 3D
            .entity-info-list__value
              span(ng-if='vm.cinema.support3D') Да
              span(ng-else='') Нет
    h2.entity__header.panel-heading.panel-heading_border Описание
    p {{vm.cinema.description}}
    h2.entity__header.panel-heading.panel-heading_border(ng-if='vm.noSessions') Упс! Сеансов нет:(
    .cinema-sessions(ng-else)
      h2.entity__header.panel-heading.panel-heading_border Сеансы
      table.table.cinema-sessions-table
        thead
          tr.cinema-sessions-table__tr
            th.cinema-sessions-table__th(colspan='2') Название фильма
            th.cinema-sessions-table__th Зал
            th.cinema-sessions-table__th Время
        tr.cinema-sessions-table__tr(ng-repeat='session in vm.sessions')
          td.cinema-sessions-table__td
            a(ui-sref='movie({movieId: session.movie._id})')
              img.cinema-sessions-table__img(ng-src='{{session.movie.poster}}')
          td.cinema-sessions-table__td {{session.movie.name}}
          td.cinema-sessions-table__td {{session.hall.name}}
          td.cinema-sessions-table__td: a(ui-sref='session({sessionId: session._id})') {{session.date | date : 'HH:mm'}}
    h2.entity__header.panel-heading.panel-heading_border(ng-if='!vm.reviews.length') Упс! Отзывов нет:(
    .reviews(ng-else)
      h2.entity__header.panel-heading.panel-heading_border Отзывы ({{vm.totalReviews}})
      ul.reviews-list
        li.reviews-list__item(dir-paginate='review in vm.reviews | itemsPerPage: vm.pageSize' total-items='vm.totalReviews' current-page='vm.currentPage')
          header.reviews-list__header
            a.reviews-list__link(href='#')
              img.reviews-list__img(ng-src='{{review.creator.picture}}')
            .reviews-list__info
              p.reviews-list__info-name {{review.creator.displayName}}
              p.reviews-list__info-date {{review.createdAt | date : 'dd/MM/yyyy HH:mm:ss'}}
          rating(ng-model='review.rating' class='rating' readonly='true')
          p.reviews-list__headline {{review.headline}}
          p.reviews-list__descr {{review.description}}
      dir-pagination-controls.pagination-wr(boundary-links='true' on-page-change='vm.changePage(newPageNumber)')
    h2.entity__header.panel-heading.panel-heading_border Новый отзыв
    form.reviews-form(ng-submit='vm.addReview()' name='addReviewForm')
      .form-group
        label Заголовок
        input.form-control(type='text' ng-model='vm.review.headline' placeholder='Заголовок' required)
      .form-group
        label Комментарий
        textarea.form-control(ng-model='vm.review.description' placeholder='Комментарий' required)
      .form-group
        label Рейтинг
        rating(ng-model='vm.review.rating' class='rating' required)
      button.btn.btn-primary(type='submit' ng-disabled='addReviewForm.$invalid') Добавить отзыв
