<div class="container">
  <div class="entity-wr panel panel-default">
    <header class="entity__header panel-heading">{{vm.cinema.name}}</header>
    <div class="entity">
      <img class="entity__poster" ng-src="{{vm.cinema.poster}}" alt="">
      <div class="entity-info">
        <ul class="entity-info-list">
          <li class="entity-info-list__item">
            <div class="entity-info-list__label">
              Адрес
            </div>
            <div class="entity-info-list__value">
              {{vm.cinema.address}}
            </div>
          </li>
          <li class="entity-info-list__item">
            <div class="entity-info-list__label">
              Сайт
            </div>
            <div class="entity-info-list__value">
              <a class="entity-info-list__tag" href="{{vm.cinema.website}}" target="_blank">{{vm.cinema.website}}</a>
            </div>
          </li>
          <li class="entity-info-list__item">
            <div class="entity-info-list__label">
              Телефон
            </div>
            <div class="entity-info-list__value">
              <a class="entity-info-list__tag" href="tel:{{vm.cinema.telephone}}">{{vm.cinema.telephone}}</a>
            </div>
          </li>
          <li class="entity-info-list__item">
            <div class="entity-info-list__label">
              Поддержка 3D
            </div>
            <div class="entity-info-list__value">
              <span ng-if="vm.cinema.support3D">Да</span><span ng-else>Нет</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <h2>Описание</h2>
    <p>{{vm.cinema.description}}</p>
    <h2 ng-if="vm.noSessions">Упс! Сеансов нет:(</h2>
    <div ng-else class="cinema-sessions">
      <h1>Сеансы</h1>
      <table class="table cinema-sessions-table">
        <thead>
          <tr class="cinema-sessions-table__tr">
            <th class="cinema-sessions-table__th" colspan="2">
              Название фильма
            </th>
            <th class="cinema-sessions-table__th">
              Зал
            </th>
            <th class="cinema-sessions-table__th">
              Время
            </th>
          </tr>
        </thead>
        <tr class="cinema-sessions-table__tr" ng-repeat="session in vm.sessions">
          <td class="cinema-sessions-table__td">
            <a ui-sref="movie({movieId: session.movie._id})">
              <img class="cinema-sessions-table__img" ng-src="{{session.movie.poster}}" alt="">
            </a>
          </td>
          <td class="cinema-sessions-table__td">
            {{session.movie.name}}
          </td>
          <td class="cinema-sessions-table__td">
            {{session.hall.name}}
          </td>
          <td class="cinema-sessions-table__td">
            {{session.date | date : 'dd/MM/yyyy HH:mm:ss'}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
