<div class="container">
  <div class="cinema">
    <img class="cinema__img" ng-src="{{vm.cinema.poster}}" alt="">
    <p class="cinema__name">{{vm.cinema.name}}</p>
    <address class="cinema__address">{{vm.cinema.address}}</address>
    <a href="{{vm.cinema.website}}" target="_blank" class="btn btn-default cinema__website">Сайт</a>
    <a href="tel:{{vm.cinema.telephone}}" class="btn btn-default cinema__phone">{{vm.cinema.telephone}}</a>
    <div class="cinema__3d">Поддержка 3D <span ng-if="vm.cinema.support3D">Да</span><span ng-else>Нет</span></div>
    <p class="cinema__description">{{vm.cinema.description}}</p>
  </div>
  <h2 ng-if="vm.noSessions">Упс! Сеансов нет:((</h2>
  <div ng-else class="cinema-sessions">
    <h1>Сеансы</h1>
    <table class="table cinema-sessions-table">
      <thead>
        <tr class="cinema-sessions-table__tr">
          <th class="cinema-sessions-table__th" colspan="2">
            Название фильма
          </th>
          <th class="cinema-sessions-table__th">
            Зал
          </th>
          <th class="cinema-sessions-table__th">
            Время
          </th>
        </tr>
      </thead>
      <tr class="cinema-sessions-table__tr" ng-repeat="session in vm.sessions">
        <td class="cinema-sessions-table__td">
          <a ui-sref="movie({movieId: session.movie._id})">
            <img class="cinema-sessions-table__img" ng-src="{{session.movie.poster}}" alt="">
          </a>
        </td>
        <td class="cinema-sessions-table__td">
          {{session.movie.name}}
        </td>
        <td class="cinema-sessions-table__td">
          {{session.hall.name}}
        </td>
        <td class="cinema-sessions-table__td">
          {{session.date | date : 'dd/MM/yyyy HH:mm:ss'}}
        </td>
      </tr>
    </table>
  </div>
</div>
