p(ng-if='vm.noSessions') Упс! Пока сеансов нет:(
.admin-table-wr(ng-else)
  table.table.admin-table
    thead
      th.admin-table__th(colspan='2') Фильм
      th.admin-table__th.admin-table__th_center Кинотеатр
      th.admin-table__th.admin-table__th_center Зал
      th.admin-table__th.admin-table__th_center Дата
      th.admin-table__th.admin-table__th_center Формат
      th.admin-table__th.admin-table__th_center Редактировать
      th.admin-table__th.admin-table__th_center Удалить
    tr.admin-table__row(dir-paginate='session in vm.sessions | itemsPerPage: vm.pageSize' total-items='vm.totalSessions' current-page='vm.currentPage')
      td.admin-table__td
        a.admin-table__link(ui-sref='movie({movieId : session.movie._id})')
          img.admin-table__img(ng-src='{{session.movie.poster}}' alt='')
      td.admin-table__td {{session.movie.name}}
      td.admin-table__td.admin-table__td_center {{session.cinema.name}}
      td.admin-table__td.admin-table__td_center {{session.hall.name}}
      td.admin-table__td.admin-table__td_center {{session.date | date : 'dd/MM/yyyy HH:mm:ss'}}
      td.admin-table__td.admin-table__td_center {{session.format}}
      td.admin-table__td.admin-table__td_center
        a.btn.btn-primary.ion-edit(ui-sref='admin.sessions.edit({sessionId : session._id})')
      td.admin-table__td
        button.btn.btn-danger.ion-close(ng-click='vm.deleteSession(session._id, $index)')
  dir-pagination-controls.pagination-wr(boundary-links='true' on-page-change='vm.changePage(newPageNumber)')
a.btn.btn-primary(ui-sref='admin.sessions.new') Добавить сеанс
