.admin
  &-sidebar,
  &-content
    float left
  &-sidebar
    width 20%
    &__link
      padding 1.5rem
      display block
      text-transform uppercase
      font-weight bold
      &:hover,
      &:focus,
      &_active
        text-decoration none
      &_active
        background #ccc
  &-content
    width 78%
    margin-left 2%
    padding 1rem
  &-table
    &__img
      max-width 80px
    &__th
      &_center
        text-align center
    &__td
      vertical-align middle !important
      &_center
        text-align center
  &-grid
    &__item
      vertical-align top
      display inline-block
      width 20%
      margin 0 0 2rem 0
      position relative
      overflow hidden
      &:hover
        .admin-grid
          &__img
            transform scale(1.1)
            filter none
    &__img
      transition all 300ms
      width 100%
      filter brightness(40%)
    &__link,
    &__img
      display block
