.cinema
  &__name
    text-transform uppercase
    font-weight bold
    margin 2rem 0
  &__description
    font-size 1.6rem
    line-height 1.2
    margin 2rem 0
  &-sessions
    &-table
      &__td
        vertical-align middle !important
      &__img
        max-width 80px
