.header
  &-avatar
    &__img
      &-wr
        display inline-block
        width 25px
        height 25px
        overflow hidden
        vertical-align top
        margin: -5px 10px 0 0

.logo
  float left
  color #000
  font-size 3.5rem
  line-height 1
