.home
  &-gallery
    &:before
      content '4 .column.column-1-4'
      font-size 0
      visibility hidden
      margin 0 -0.5rem
    .column
      vertical-align top
      display inline-block
      padding 0 0.5rem
      &-1-4
        width 25%
    &__item
      position relative
      margin 0 0 1rem
    &__img
      display block
    &__link
      position absolute
      left 0
      right 0
      top 0
      bottom 0
      background rgba(0,0,0,0.6)
      opacity 0
      transition opacity 300ms
      &:hover
        opacity 1
    &__name
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      font-size 16px
      color #fff
      padding 1rem
      border 1px solid
      text-align center

