.reviews
  &-list
    &__item
      padding 1.5rem 0
    &__header
      @extend $cf
    &__link,
    &__info
      float left
    &__info
      padding 0 0 0 1rem
    &__img
      width 60px
      height 60px
      object-fit contain
    &__descr
      font-size 1.6rem
      margin 2rem 0
  &-form
    margin 2rem 0

