.reviews
  &-list
    &__item
      padding 1.5rem 0
      &+&
        border-top 1px solid #cfd9db
    &__header
      @extend $cf
    &__link,
    &__info
      float left
    &__info
      padding 0 0 0 1rem
    &__img
      width 60px
      height 60px
      object-fit contain
    &__descr
      font-size 1.6rem
      margin 1rem 0
    &__headline
      font-weight bold
      margin 1rem 0
      text-transform uppercase
  &-form
    margin 2rem 0

