.session
  &-header
    @extend $cf
    padding 1rem
    background #f6f6f6
    border-bottom 1px solid #cfd9db
    margin 0 -1rem
    &__img
      float left
      max-width 80px
    &__cinema-address
      float right
      margin 0
      font-size 1.8rem
    &__date
      font-size 3rem
      margin 2rem 0
      text-align center
  &-caption
    float left
    margin 0 0 0 1.5rem
    &__movie-name
      text-transform uppercase
      margin: 0 0 1rem
      font-size 3rem
    &__cinema-name
      margin 1.5rem 0


