.container
  .entity-wr.panel.panel-default
    header.session-header
      img.session-header__img(ng-src='{{vm.session.movie.poster}}')
      .session-caption
        h2.session-caption__movie-name {{vm.session.movie.name}}
        h3.session-caption__cinema-name {{vm.session.cinema.name}}
        h4.session-caption__hall-name Зал {{vm.session.hall.name}}
      h3.session-header__cinema-address {{vm.session.cinema.address}}
    p.session-header__date {{vm.session.date | date : 'HH:mm'}}
    .seats-info
      .seats-info__item
        ul.seats-info-list
          li.seats-info-list__item.seats-info-list__item_bold Цена
          li.seats-info-list__item.seats-info__price.seats-info__price_cheap 160 ₽
          li.seats-info-list__item.seats-info__price.seats-info__price_middle 180 ₽
          li.seats-info-list__item.seats-info__price.seats-info__price_expensive 200 ₽
      .seats-info__item
        ul.seats-info-list
          li.seats-info-list__item.seats-info__price.seats-info__price_not-available Занятые
          li.seats-info-list__item.seats-info__price.seats-info__price_user Ваш выбор
    .seats-area
      .seats-area__screen Экран
      .seats
        .seats__content
          .seats__row
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
          .seats__row
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
          .seats__row
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
          .seats__row
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
            .seats__place.seats__place_cheap
          .seats__row
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
          .seats__row
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
          .seats__row
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
          .seats__row
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
            .seats__place.seats__place_middle
          .seats__row
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
          .seats__row
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
          .seats__row
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
            .seats__place.seats__place_expensive
          .seats__column.seats__column_left
            .seats__place.seats__place_number.seats__place_row-name.seats__place_block A
            .seats__place.seats__place_number.seats__place_row-name.seats__place_block B
            .seats__place.seats__place_number.seats__place_row-name.seats__place_block C
            .seats__place.seats__place_number.seats__place_row-name.seats__place_block D
            .seats__place.seats__place_number.seats__place_row-name.seats__place_block E
            .seats__place.seats__place_number.seats__place_row-name.seats__place_block F
            .seats__place.seats__place_number.seats__place_row-name.seats__place_block G
            .seats__place.seats__place_number.seats__place_row-name.seats__place_block H
            .seats__place.seats__place_number.seats__place_row-name.seats__place_block I
            .seats__place.seats__place_number.seats__place_row-name.seats__place_block J
            .seats__place.seats__place_number.seats__place_row-name.seats__place_block K
          .seats__column.seats__column_right
            i.seats__check-icon.ion-checkmark
        footer.seats__footer.seats__row
          .seats__place.seats__place_number 1
          .seats__place.seats__place_number 2
          .seats__place.seats__place_number 3
          .seats__place.seats__place_number 4
          .seats__place.seats__place_number 5
          .seats__place.seats__place_number 6
          .seats__place.seats__place_number 7
          .seats__place.seats__place_number 8
          .seats__place.seats__place_number 9
          .seats__place.seats__place_number 10
          .seats__place.seats__place_number 11
          .seats__place.seats__place_number 12
          .seats__place.seats__place_number 13
          .seats__place.seats__place_number 14
          .seats__place.seats__place_number 15
          .seats__place.seats__place_number 16
          .seats__place.seats__place_number 17
          .seats__place.seats__place_number 18
