<div class="container">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 class="text-center">Войти</h2>
        <form method="post" ng-submit="vm.login()" name="loginForm">
          <div class="form-group has-feedback">
            <input type="text" name="email" ng-model="vm.email" placeholder="E-mail" required="required" autofocus="autofocus" class="form-control input-lg"/><span class="ion-at form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" name="password" ng-model="vm.password" placeholder="Пароль" required="required" class="form-control input-lg"/><span class="ion-key form-control-feedback"></span>
          </div>
          <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg btn-block btn-success">Войти</button>
          <p class="text-center text-muted"><small>Еще нет аккаунта?&nbsp;<a ui-sref="signup">Зарегистрироваться</a></small></p>
          <div class="signup-or-separator">
            <h6 class="text">или</h6>
            <hr/>
          </div>
        </form>
        <button ng-click="vm.authenticate('facebook')" class="btn btn-block btn-facebook">Facebook</button>
        <button ng-click="vm.authenticate('google')" class="btn btn-block btn-google-plus">Google</button>
        <button ng-click="vm.authenticate('twitter')" class="btn btn-block btn-twitter">Twitter</button>
        <button ng-click="vm.authenticate('github')" class="btn btn-block btn-github">GitHub</button>
      </div>
    </div>
  </div>
</div>
