<form ng-submit="vm.action()">
  <p>Дата создания: {{vm.movie.createdAt | date : 'dd/MM/yyyy HH:mm:ss'}}</p>
  <p>Дата последнего обновления: {{vm.movie.updatedAt | date : 'dd/MM/yyyy HH:mm:ss'}}</p>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" ng-model="vm.movie.name">
  </div>
  <div class="form-group">
    <img class="photo" ng-if="!vm.file.length && vm.movie.poster" ng-src="{{vm.movie.poster}}">
    <img class="photo" ng-if="vm.file.length" ngf-src="vm.file[0]">
    <span type="text" class="btn btn-primary" ng-model="vm.file" ngf-select>upload poster</span>
  </div>
  <div class="form-group">
    <label>Country</label>
    <input type="text" class="form-control" ng-model="vm.movie.country">
  </div>
  <div class="form-group">
    <label>Genre</label>
    <tags-input ng-model="vm.movie.genre" placeholder="Add a movie"></tags-input>
  </div>
  <div class="form-group">
    <label>Directors</label>
    <tags-input replace-spaces-with-dashes="false" display-property="name" ng-model="vm.movie.directors" placeholder="Add a director">
      <auto-complete source="vm.loadPersons($query)"></auto-complete>
    </tags-input>
  </div>
  <div class="form-group">
    <label>Actors</label>
    <tags-input replace-spaces-with-dashes="false" display-property="name" ng-model="vm.movie.actors" placeholder="Add an actor">
      <auto-complete source="vm.loadPersons($query)"></auto-complete>
    </tags-input>
  </div>
  <div class="form-group">
    <label>Duration</label>
    <input type="text" class="form-control" ng-model="vm.movie.duration">
  </div>
  <div class="form-group">
    <label>AgeRating</label>
    <input type="text" class="form-control" ng-model="vm.movie.ageRating">
  </div>
  <div class="form-group">
    <label>ReleaseDate</label>
    <input type="text" class="form-control" ng-model="vm.movie.releaseDate" bs-datepicker date-format="longDate">
  </div>
  <div class="form-group">
    <label>FinishDate</label>
    <input type="text" class="form-control" ng-model="vm.movie.finishDate" bs-datepicker date-format="longDate">
  </div>
  <div class="form-group">
    <label>Synopsis</label>
    <textarea class="form-control" ng-model="vm.movie.synopsis"></textarea>
  </div>
  <button class="btn btn-default" type="submit"><i class="ion-checkmark"></i>Submit</button>
</form>
