form(ng-submit='vm.action()')
  p(ng-if='vm.cinema.createdAt') Дата создания: {{vm.cinema.createdAt | date : 'dd/MM/yyyy HH:mm:ss'}}
  p(ng-if='vm.cinema.updatedAt') Дата последнего обновления: {{vm.cinema.updatedAt | date : 'dd/MM/yyyy HH:mm:ss'}}
  .form-group
    label Название
    input.form-control(type='text', ng-model='vm.cinema.name')
  .form-group
    img.photo(ng-if='!vm.file.length && vm.cinema.poster', ng-src='{{vm.cinema.poster}}')
    img.photo(ng-if='vm.file.length', ngf-src='vm.file[0]')
    span.btn.btn-primary(type='text', ng-model='vm.file', ngf-select) Загрузить картинку
  .form-group
    label Адрес
    input.form-control(type='text', ng-model='vm.cinema.address')
  .form-group
    label Телефон
    input.form-control(type='text', ng-model='vm.cinema.telephone')
  .form-group
    label Сайт
    input.form-control(type='text', ng-model='vm.cinema.website')
  .form-group
    label Поддержка 3D
    input(type='checkbox', ng-model='vm.cinema.support3D')
  .form-group
    label Описание
    textarea.form-control(ng-model='vm.cinema.description')
  button.btn.btn-default(type='submit')
    i.ion-checkmark
    | Сохранить
  a.btn.btn-danger.btn-danger_admin(ng-if='vm.cinema._id' href='javascript:void(0)' ng-click='vm.deleteCinema()')
    i.ion-close
    | Удалить
.reviews(ng-if='vm.reviews.length')
  h2.entity__header.panel-heading.panel-heading_border Отзывы ({{vm.reviews.length}})
  ul.reviews-list
    li.reviews-list__item(pagination-id='reviewsPagination' dir-paginate='review in vm.reviews | itemsPerPage: vm.pageSize' current-page='vm.currentPage')
      header.reviews-list__header
        a.reviews-list__link(href='#')
          img.reviews-list__img(ng-src='{{review.creator.picture}}')
        .reviews-list__info
          p.reviews-list__info-name {{review.creator.displayName}}
          p.reviews-list__info-date {{review.createdAt | date : 'dd/MM/yyyy HH:mm:ss'}}
        button.btn.btn-danger.ion-close.reviews__btn(ng-click='vm.deleteReview(vm.cinema._id, review._id)')
      rating(ng-model='review.rating' class='rating' readonly='true')
      p.reviews-list__headline {{review.headline}}
      p.reviews-list__descr {{review.description}}
  dir-pagination-controls.pagination-wr(boundary-links='true' pagination-id='reviewsPagination')
