form(ng-submit='vm.action()')
  p(ng-if='vm.movie.createdAt') Дата создания: {{vm.movie.createdAt | date : 'dd/MM/yyyy HH:mm:ss'}}
  p(ng-if='vm.movie.updatedAt')
    | Дата последнего обновления: {{vm.movie.updatedAt | date : 'dd/MM/yyyy HH:mm:ss'}}
  .form-group
    label Название
    input.form-control(type='text', ng-model='vm.movie.name')
  .form-group
    label Оригинальное название
    input.form-control(type='text', ng-model='vm.movie.originalName')
  .form-group
    img.photo(ng-if='!vm.file.length && vm.movie.poster', ng-src='{{vm.movie.poster}}')
    img.photo(ng-if='vm.file.length', ngf-src='vm.file[0]')
    span.btn.btn-primary(type='text', ng-model='vm.file', ngf-select) Загрузить постер
  .form-group
    label Страна
    input.form-control(type='text', ng-model='vm.movie.country')
  .form-group
    label Жанры
    tags-input(ng-model='vm.movie.genre', placeholder='Добавить жанр')
  .form-group
    label Режиссеры
    tags-input(replace-spaces-with-dashes='false', display-property='name', ng-model='vm.movie.directors', placeholder='Добавить режиссера')
      auto-complete(source='vm.loadPersons($query)')
  .form-group
    label Актеры
    tags-input(replace-spaces-with-dashes='false', display-property='name', ng-model='vm.movie.actors', placeholder='Добавить актера')
      auto-complete(source='vm.loadPersons($query)')
  .form-group
    label Длительность
    input.form-control(type='text', ng-model='vm.movie.duration')
  .form-group
    label Возрастной рейтинг
    input.form-control(type='text', ng-model='vm.movie.ageRating')
  .form-group
    label Премьера
    input.form-control(type='text', ng-model='vm.movie.releaseDate', bs-datepicker, date-format='longDate')
  .form-group
    label Окончание
    input.form-control(type='text', ng-model='vm.movie.finishDate', bs-datepicker, date-format='longDate')
  .form-group
    label Синопсис
    textarea.form-control(ng-model='vm.movie.synopsis')
  button.btn.btn-default(type='submit')
    i.ion-checkmark
    | Сохранить
  a.btn.btn-danger(ng-if='vm.movie._id' href='javascript:void(0)' ng-click='vm.deleteMovie()')
    i.ion-close
    | Удалить
.reviews(ng-if='vm.reviews.length')
  h2.entity__header.panel-heading.panel-heading_border Отзывы ({{vm.reviews.length}})
  ul.reviews-list
    li.reviews-list__item(pagination-id='reviewsPagination' dir-paginate='review in vm.reviews | itemsPerPage: vm.pageSize' current-page='vm.currentPage')
      header.reviews-list__header
        a.reviews-list__link(href='#')
          img.reviews-list__img(ng-src='{{review.creator.picture}}')
        .reviews-list__info
          p.reviews-list__info-name {{review.creator.displayName}}
          p.reviews-list__info-date {{review.createdAt | date : 'dd/MM/yyyy HH:mm:ss'}}
        button.btn.btn-danger.ion-close.reviews__btn(ng-click='vm.deleteReview(vm.movie._id, review._id)')
      p.reviews-list__headline {{review.headline}}
      p.reviews-list__descr {{review.description}}
  dir-pagination-controls.pagination-wr(boundary-links='true' pagination-id='reviewsPagination')
