.login-page.clearfix
    .login-box.auth0-box
        img(src='https://i.cloudup.com/StzWWrY34s.png')
        h3 Auth0 Example
        p Zero friction identity infrastructure, built for developers
        a.btn.btn-primary.btn-lg.btn-block(ng-click='login.login()') SignIn

