.post
  .post-date
    span.post-date__inner {{post.post.DateCreation | date : 'd MMM'}}
  ul.post-info
    li.post-info__item
      | posted by&nbsp;
      a.post-info__item-link(ui-sref='user({userId: post.post.UserId})') {{post.post.UserName}}
  .post-container
    h2.post-header {{post.post.Title}}
    p.post-body {{post.post.Text}}
