.user-card
  .user-card-aside
    img.user-card__img(src='img/profile-gray.png')
  .user-card-content
    h3.user-card__name {{user.user.UserName}}
    ul.user-card-info
      li.user-card-info__item
        span.user-card-info__label Email:
        span.user-card-info__value {{user.user.UserEmail}}
      li.user-card-info__item
        span.user-card-info__label Count of posts:
        span.user-card-info__value {{user.user.PostsCount}}
      li.user-card-info__item
        span.user-card-info__label Count of friends:
        span.user-card-info__value {{user.user.FriendsCount}}

