<form ng-submit="vm.editPerson()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" ng-model="vm.person.name">
  </div>
  <div class="form-group">
    <label>Career</label>
    <tags-input ng-model="vm.person.career" placeholder="Add a career"></tags-input>
  </div>
  <div class="form-group">
    <label>Photo</label>
    <input type="text" class="form-control" ng-model="vm.person.photo">
  </div>
  <div class="form-group">
    <label>Birthdate</label>
    <input type="text" class="form-control" ng-model="vm.person.birthdate">
  </div>
  <div class="form-group">
    <label>Birthplace</label>
    <input type="text" class="form-control" ng-model="vm.person.birthPlace">
  </div>
  <button class="btn btn-default" type="submit"><i class="ion-checkmark"></i>Submit</button>
</form>
