doctype html
html(lang="en", ng-app="cinema")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title cinema
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    base(href="/")
    link(rel="stylesheet", href="css/main.css")
  body
    block content
    block js
      // bower:js
      script(src='bower_components/jquery/dist/jquery.js')
      script(src='bower_components/angular/angular.js')
      script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
      script(src='bower_components/bootstrap/dist/js/bootstrap.js')
      script(src='bower_components/angular-strap/dist/angular-strap.js')
      script(src='bower_components/angular-strap/dist/angular-strap.tpl.js')
      script(src='bower_components/angular-animate/angular-animate.js')
      script(src='bower_components/angular-messages/angular-messages.js')
      script(src='bower_components/angular-resource/angular-resource.js')
      script(src='bower_components/satellizer/satellizer.js')
      // endbower
      script(src="js/app.js")
