p(ng-if='vm.noPersons') Упс! Пока актеров нет:(
.admin-grid-wr(ng-else)
  ul.admin-grid
    li.admin-grid__item(pagination-id='personsPagination' dir-paginate='person in vm.persons | itemsPerPage: vm.pageSize' total-items='vm.totalPersons' current-page='vm.currentPage')
      img.admin-grid__img(ng-src='{{person.photo}}')
      .admin-grid__overlay
        .admin-grid__buttons
          a.btn.btn-default.ion-edit(ui-sref='admin.persons.edit({personId: person._id})')
          button.btn.btn-danger.ion-close(ng-click='vm.deletePerson(person._id, $index)')
  dir-pagination-controls.pagination-wr(boundary-links='true' on-page-change='vm.changePage(newPageNumber)' pagination-id='personsPagination')
a.btn.btn-primary(ui-sref='admin.persons.new') Добавить актера
