<div class="container">
  <h1>{{vm.person.name}}</h1>
  <img ng-src="{{vm.person.photo}}" alt="">
  <ul class="nav nav-pills">
    <li ng-repeat="item in vm.person.career">
      {{item.text}}
    </li>
  </ul>
  <div>{{vm.person.birthdate | date : 'd MMMM yyyy'}}</div>
  <div>{{vm.person.birthPlace}}</div>
  <div ng-if="vm.person.moviesAsActor.length">
    <h2 ng-if="vm.person.gender === 'male'">Актер</h2>
    <h2 ng-else>Актриса</h2>
    <ol>
      <li ng-repeat="movie in vm.person.moviesAsActor">{{movie.name}}</li>
    </ol>
  </div>
  <div ng-if="vm.person.moviesAsDirector.length">
    <h2>Режиссер</h2>
    <ol>
      <li ng-repeat="movie in vm.person.moviesAsDirector">{{movie.name}}</li>
    </ol>
  </div>
</div>
