<div class="container">
  <div class="entity-wr panel panel-default">
    <header class="entity__header panel-heading">
      {{vm.person.name}}
    </header>
    <div class="entity">
      <img class="entity__poster" ng-src="{{vm.person.photo}}" alt="">
      <div class="entity-info">
        <ul class="entity-info-list">
          <li class="entity-info-list__item">
            <div class="entity-info-list__label">
              Карьера
            </div>
            <div class="entity-info-list__value">
              <span class="entity-info-list__tag" ng-repeat="item in vm.person.career">{{item.text}}</span>
            </div>
          </li>
          <li class="entity-info-list__item">
            <div class="entity-info-list__label">
              Дата рождения
            </div>
            <div class="entity-info-list__value">
              {{vm.person.birthdate | date : 'd MMMM yyyy'}}
            </div>
          </li>
          <li class="entity-info-list__item">
            <div class="entity-info-list__label">
              Место рождения
            </div>
            <div class="entity-info-list__value">
              {{vm.person.birthPlace}}
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div ng-if="vm.person.moviesAsActor.length">
      <h2 ng-if="vm.person.gender === 'male'">Актер</h2>
      <h2 ng-else>Актриса</h2>
      <table class="table">
        <tr ng-repeat="movie in vm.person.moviesAsActor">
          <td>
            <a ui-sref="movie({movieId: movie._id})">
              <img style="max-width: 80px" ng-src="{{movie.poster}}" alt="">
            </a>
          </td>
          <td style="vertical-align: middle">
            {{movie.name}}
          </td>
        </tr>
      </table>
    </div>
    <div ng-if="vm.person.moviesAsDirector.length">
      <h2>Режиссер</h2>
      <table class="table">
        <tr ng-repeat="movie in vm.person.moviesAsDirector">
          <td>
            <a ui-sref="movie({movieId: movie._id})">
              <img style="max-width: 80px" ng-src="{{movie.poster}}" alt="">
            </a>
          </td>
          <td style="vertical-align: middle">
            {{movie.name}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
