// bower:css
@import "../bower_components/bootstrap/dist/css/bootstrap.css"
@import "../bower_components/angular-motion/dist/angular-motion.css"
@import "../bower_components/normalize.css/normalize.css"
// endbower
@import 'core/*'