.container
  .panel.panel-default
    h2.panel-heading Сегодня в кино
    h3.panel-heading(ng-if='vm.noNewMovies') Пусто:((
    ul.home-gallery.panel-body(ng-if='vm.newMovies.length')
      li.home-gallery__item(ng-repeat='movie in vm.newMovies')
        img.home-gallery__img(ng-src='{{movie.poster}}', alt='')
        a.home-gallery__link(ui-sref='movie({movieId : movie._id})')
          span.home-gallery__name {{movie.name}}
  .panel.panel-default
    h2.panel-heading Скоро в кино
    h3.panel-heading(ng-if='vm.noUpcomingMovies') Пусто:((
    ul.home-gallery.panel-body(ng-if='vm.upcomingMovies.length')
      li.home-gallery__item(ng-repeat='movie in vm.upcomingMovies')
        img.home-gallery__img(ng-src='{{movie.poster}}', alt='')
        a.home-gallery__link(ui-sref='movie({movieId : movie._id})')
          span.home-gallery__name {{movie.name}}
