<div class="container">
  <h2>Сегодня в кино</h2>
  <h3 ng-if="vm.noNewMovies">Пусто:((</h3>
  <ul ng-if="vm.newMovies.length" class="home-gallery">
    <li ng-repeat="movie in vm.newMovies" class="home-gallery__item">
      <img class="home-gallery__img" ng-src="{{movie.poster}}" alt="">
      <a class="home-gallery__link" ui-sref="movie({movieId : movie._id})">
        <span class="home-gallery__name">{{movie.name}}</span>
      </a>
    </li>
  </ul>
  <h2>Скоро в кино</h2>
  <h3 ng-if="vm.noUpcomingMovies">Пусто:((</h3>
  <ul ng-if="vm.upcomingMovies.length" class="home-gallery">
    <li ng-repeat="movie in vm.upcomingMovies" class="home-gallery__item">
      <img class="home-gallery__img" ng-src="{{movie.poster}}" alt="">
      <a class="home-gallery__link" ui-sref="movie({movieId : movie._id})">
        <span class="home-gallery__name">{{movie.name}}</span>
      </a>
    </li>
  </ul>
</div>
